.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 3rem;
    gap: 10rem;
  }
  
  .about-content {
    flex: 2;
  }
  
  .about-content h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  
  .about-content .highlight {
    color: #835cda;
  }
  
  .about-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #555;
  }
  
  .read-more {
    background: none;
    border: 2px solid #835cda;
    color: #835cda;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .read-more:hover {
    background-color: #835cda;
    color: #fff;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
  }
  