.inspira-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color:transparent;
}

.inspira-content {
  max-width: 35%;
  text-align: left;
  margin-bottom: 2rem;
}

.inspira-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: -5px;
}

.inspira-subtitle {
  font-size: 1.4rem;
  font-weight: bold;
  color: #555;
}

.inspira-description {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.contact-button {
  background-color: #7e57c2;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #673ab7;
}

.inspira-illustration img {
  width: 25%;
  height: auto;
  margin: 1rem auto;
  position: relative;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .responsive-img {
    max-width: 100%; /* Ukuran lebih kecil untuk layar kecil */
  }

  .inspira-content{
    max-width: 100%;
    text-align: left;
    margin-bottom: 1rem;
  }
}
